<!--   interpolation-->
 <h1> {{title}}</h1>
 <h1> {{name}}</h1>
 <h1> {{address}}</h1>
 <h1> {{id}}</h1>
 <h1> {{user.userid}}</h1>
 <h1> {{user.username}}</h1>
 <h1> {{user}}</h1>

   <!--style binding -->
<img [src]="itemImageUrl" [style.width]="width" [style.height]="height"/><br>
<img [src]="itemImage1" [style.width]="width" [style.height]="height"/><br>
<img [src]="itemImage1" width="200px" height="300px"/>

<!-- Bind button disabled state to `isUnchanged` property -->
<!-- property binding-->
<button type="button" [disabled]="isUnchanged" (click)="callFunction()">Disabled Button </button>
<button type="button" [disabled]="isunchanged1"(click)="call1()">Disabled button2</button>
<br><br>
Enter the name :<input type="text" value="enter name"/><br><br>
Enter the empid:<input type="text" value="enter id"/>  <br><br>
Enter the address:<input type="text" value=" enter address"/>  <br><br>
Enter the contact no:<input type="number" value="type here"/>  <br><br>

<div [ngStyle]="{color:value}"> color is red</div>
<div [ngClass]="'clsName'"> in the class</div>

<a [href]= "hrefval"> PCS-GLOBAL WEBSITE LINK</a>

<button type="submit" value="submit"> submit</button>
